
        
doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        span.header
            h1 404
            h2 ¿MAGOS DETRÁS DE LAS CORTINAS?
            p Eso es muy de 1939. KlouCord lo llevan en secreto unos hámsteres robot cuánticos. Esto de la tecnología es una locura, ¿eh? De todas formas, parece que te has perdido. Aquí te sugerimos algunas páginas.

        a.button(href='javascript:history.back()') Back
        a.button(href='/') Home
        title 404 - KC